.size {
  width: 800px;
  height: 200px;

  padding: 10px;
  border: 10px solid transparent;

  outline: 1px solid red;
  margin: 10px;
}

.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}
